page-feeds {
        
        .background{
            background-color:rgb(221, 221, 221);
            }
        .h2{
            margin-left:0.4em;
            font-weight:bold
            }
        }   

